<html>

<head>
    <title>Dashboard - Digital FOrtress</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="main">
        {% include 'components/dheader.html' %}
        <h1>Dashboard</h1>
        <h2>Current Round: [[round.no]]</h2>
        <a class="waves-effect waves-light btn" href="{% url 'round' %}">Go to Round</a>
        <a class="waves-effect waves-light btn" href="{% url 'leaderboard' %}">Leaderboard</a>
    </div>
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: "#main",
            data: {
                round: {
                    no: null,
                    question: null,
                    answer: null
                },
            },
            mounted() {
                var self = this;
                $.getJSON("getRound").then(function (data) {
                    self.round.no = data.no;
                    self.round.question = data.question;
                });
            }
        })
    </script>
</body>

</html>